div.username{
    width: 100%;
    box-shadow: 0 0 500px rgba(0,0,0,0.9);
    background-color: rgba(0,0,0,0.9);
    height: 28px;
    padding: 10px;
    box-shadow: inset 0 0 10px crimson;
    -moz-box-shadow:    inset 0 0 10px crimson;
    -webkit-box-shadow: inset 0 0 10px crimson;
}

span.battletag {
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    color: #dd3400;
    display: block;
    width: 40%;
    margin: auto;
    text-align: right;
    float: left;
}

span.guildname {
    font-size: 16px;
    font-weight: normal;
    color: #dd3400;
    width: 40%;
    margin: auto;
    line-height: 31px;
    text-align: left;
    float: left;
}

div.careerdivrow {
    margin-top: 5px;
    width: 100%;
    background: rgba(0, 0, 0, .9);
    display: inline-block;
    font-size: 9pt;
    box-shadow: inset 0 0 10px crimson;
    -moz-box-shadow:    inset 0 0 10px crimson;
    -webkit-box-shadow: inset 0 0 10px crimson;
}

table.careertable {
    width: 75%;
    color: #CECECE;
    text-align: left;
    cursor: default;
    float: left;
    margin: 10px;
    border-collapse: collapse;
}

table.careertable tr:hover {
    background: rgba(0, 0, 0, 1);
    color: crimson;
}

table.careertable tr {
    border: 2px solid #303030;
}

table.careerseasontable {
    width: 100%;
    color: #CECECE;
    text-align: left;
    cursor: default;
    float: left;
    margin: 10px;
    border-collapse: collapse;
}

table.careerseasontable tr:hover {
    background: rgba(0, 0, 0, 1);
    color: crimson;
}

table.careerseasontable tr {
    border: 2px solid #303030;
}

table.careertable td {
    padding:7px 0;
}

li.actprog {
    width: calc(20% - 6px);
    color: #CECECE;
    text-align: left;
    display: inline-block;
    cursor: default;
    padding-top: 6px;
    padding-left: 6px;
    box-shadow: inset 0 0 10px darkgray;
    margin: 10px;
    float: right;
}

ul.actprogheader {
    font-weight: bold;
    padding: 0;
    margin: 0;
}
ul.actprog {
    padding: 0;
}
li.actprog ul:hover {
    background: rgba(0, 0, 0, 1);
    color: crimson;
}
span.actprogcomplete {
    color: green;
}
span.actprogincomplete {
    color:red;
}