div.username{
    width: 100%;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 0 500px rgba(0,0,0,0.7);
    height: 28px;
}

span.battletag {
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    color: #dd3400;
    display: block;
    width: 40%;
    margin: auto;
    text-align: right;
    float: left;
}

span.guildname {
    font-size: 16px;
    font-weight: normal;
    color: #dd3400;
    width: 40%;
    margin: auto;
    line-height: 31px;
    text-align: left;
    float: left;
}

div.careerdivrow {
    width: 100%;
    background: rgba(0, 0, 0, .7);
    display: inline-block;
    font-size: 9pt;
}

table.careertable {
    width: 80%;
    color: white;
    text-align: left;
    cursor: default;
    float: left;
}

table.careertable tr:hover {
    background: rgba(0, 0, 0, 1);
    color: crimson;
}

table.careerseasontable {
    width: 100%;
    color: white;
    text-align: left;
    cursor: default;
    float: left;
}

table.careerseasontable tr:hover {
    background: rgba(0, 0, 0, 1);
    color: crimson;
}

li.actprog {
    width: calc(20% - 6px);
    color: white;
    text-align: left;
    display: inline-block;
    cursor: default;
    padding-top: 3px;
    padding-left: 3px;
}

ul.actprogheader {
    font-weight: bold;
    padding: 0;
    margin: 0;
}
ul.actprog {
    padding: 0;
}
li.actprog ul:hover {
    background: rgba(0, 0, 0, 1);
    color: crimson;
}
span.actprogcomplete {
    color: green;
}
span.actprogincomplete {
    color:red;
}