/*#region Main Menu */
.mainToolMenu {
    background-color: clear;
    height: 6%;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    overflow: auto;
}

.mainToolMenu > ul{
    padding:0; margin:0;
}

.menuToolItem{
    color:white; border:1px solid white; text-align:center; padding:3px; list-style-type:none;

    background: linear-gradient(to bottom left, #00000f, #000080 180%);
    background: -webkit-linear-gradient(to bottom left, #00000f, #000080 180%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom left, #00000f, #000080 180%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom left, #00000f, #000080 180%); /* For Firefox 3.6 to 15 */
}

.menuToolItem > a{
    text-decoration:none; color:white; font-size:11px;
}

/*.menuToolItem:hover{
    cursor:pointer;
}*/

/*#endregion */