/*#region Main Menu */
.mainMenu {
    background-color: clear;
    height: 100%;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    overflow: auto;
}

.mainMenu > ul{
    padding:0; margin:0;
}

.menuItem{
    color:white; border:1px solid white; text-align:center; padding:10px; list-style-type:none;

    background: linear-gradient(to bottom left, #00000f, #dd3400 180%);
    background: -webkit-linear-gradient(to bottom left, #00000f, #dd3400 180%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom left, #00000f, #dd3400 180%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom left, #00000f, #dd3400 180%); /* For Firefox 3.6 to 15 */
}

.menuItem > a{
    text-decoration:none; color:white;
}

/*.menuItem:hover{
    cursor:pointer;
}*/

.heroMenuItem{
    color:white; border:1px solid white; text-align:center; list-style-type:none;


    background: linear-gradient(to bottom left, #00000f, #dd3400 180%);
    background: -webkit-linear-gradient(to bottom left, #00000f, #dd3400 180%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom left, #00000f, #dd3400 180%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom left, #00000f, #dd3400 180%); /* For Firefox 3.6 to 15 */
}

.heroMenuItem > a{
    text-decoration:none; color:white;
}

.heroMenuItem:hover{
    cursor:pointer;
}

/*#endregion */

/*#region Hero List*/

/*Taken from Bob's Style.css and modified*/
    div#HeroList {
        right:19px; font-size:11pt;
        width: 90%;
        padding-left: 10%;
        height:50%;
        overflow:auto;
    }
    div#HeroList div.hero {
    	position:relative; width:100%; background-color:#000;
    	display:inline-block; opacity:0.3;
    }
    div#HeroList div.clickable {
    	cursor:pointer; opacity:1;
    }
    div#HeroList div.selected {
    	border-color:#FF0000;
    }
    div#HeroList div.hero div.face {
    	background:url("http://us.battle.net/d3/static/images/profile/hero/hero-nav-portraits.jpg") no-repeat;
    	width:83px; height:66px; border-radius:5px;
    }
    div#HeroList div.hero div.barbarian-Female {
    	background-position: -83px 0;
    }
    div#HeroList div.hero div.demon-hunter-Female {
    	background-position: -83px -66px;
    }
    div#HeroList div.hero div.monk-Female {
    	background-position: -83px -132px;
    }
    div#HeroList div.hero div.witch-doctor-Female {
    	background-position: -83px -198px;
    }
    div#HeroList div.hero div.wizard-Female {
    	background-position: -83px -264px;
    }
    div#HeroList div.hero div.crusader-Female {
    	background-position: -83px -330px;
    }
    div#HeroList div.hero div.barbarian-Male {
    	background-position: 0 0;
    }
    div#HeroList div.hero div.demon-hunter-Male {
    	background-position: 0 -66px;
    }
    div#HeroList div.hero div.monk-Male {
    	background-position: 0 -132px;
    }
    div#HeroList div.hero div.witch-doctor-Male {
    	background-position: 0 -198px;
    }
    div#HeroList div.hero div.wizard-Male {
    	background-position: 0 -264px;
    }
    div#HeroList div.hero div.crusader-Male {
    	background-position: 0 -330px;
    }
    div#HeroList div.hero div.name {
            color:#FFFFFF; font-weight:bold; background-color:rgba(0, 0, 0, 0.5); padding-top:9px; margin:2px;
            text-align:right; text-overflow:ellipsis; overflow:hidden;
            width: 90%;
            float: right;
            position: absolute;
            left: 9px;
            top: 0px;
            height: 53px;
    }
    div#HeroList div.hero div.name span.level {
    	color:#FFFFFF; margin-right:5px;
    }
    div#HeroList div.hero div.name span.paragon-level {
    	color:#FF0000; margin-right:5px;
    }
    div#HeroList div.hero div.hardcore {
    	background-color:rgba(80, 0, 0, 0.5); border-color:#900;
    }
    /*div#HeroList div.hero div.seasonal {
    	color:#FF0000; background-color:rgba(0, 80, 0, 0.5); border-color:#690;
    }*/
    div#HeroList div.seasonal-true {
    	background:url("http://us.battle.net/d3/static/images/profile/seasonal-leaf.png") no-repeat;
    	position:absolute; width:24px; height:31px; top:42px; left:61px;
    }
    div#HeroList div.seasonal-false {
    	display:none;
    }

/*#endregion*/