/*#region Blizzard Fonts*/
@font-face {
    font-family: "Exocet Blizzard";
    src: url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.eot");
    src: url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.eot?#iefix") format("embedded-opentype"),
    url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.woff") format("woff"),
    url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.ttf")  format("truetype"),
    url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.svg#svgExocetReaper") format("svg");
}

@font-face {
    font-family: "Exocet Blizzard Light";
    src: url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.eot");
    src: url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.eot?#iefix") format("embedded-opentype"),
    url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.woff") format("woff"),
    url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.ttf")  format("truetype"),
    url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.svg#svgExocetReaper") format("svg");
}

/*#endregion*/

body {
    padding-top: 10px;
    padding-bottom: 20px;
    height:100vh;
    width:100vw;
    min-width: 1280px;
    position:page;
    overflow:auto;
    background-color:black;
    background-repeat:no-repeat;
    font-family: 'Exocet Blizzard'
}

/*#region Header */
p.header{
    width: 50%;
    margin: auto;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: navy;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 0 500px rgba(0,0,0,0.5);
}

/*#endregion */

/*#region Main Body */
.mainBody{
    margin:auto;
    padding: 0 50px;
    display: inline-block;
    margin-top: 50px;
    height: 566px;
    width: 813px;
    overflow: auto;	
    background: rgba(0,0,0,0.5);
    box-shadow: 0 0 500px rgba(0,0,0,0.5);
}
/*#endregion */

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 780px;
}

/* styles for validation helpers */
#json-dispaly{
	width:100%;
}

/* Below is used to stop chromes autofill color change*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: white !important;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/*#region Scroll bar*/
::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(105,105,105,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(105,105,105,0.6);
}
/*#endregion*/

/*#region Footer */
footer{
    margin-bottom:0; width:100%; color:white;
}
/*#endregion


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/**/
.tooltip .tooltiptext {
    top: -5px;
    right: 105%;
}
