/*#region Blizzard Fonts*/
@font-face {
    font-family: "Exocet Blizzard";
    src: url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.eot");
    src: url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.eot?#iefix") format("embedded-opentype"),
    url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.woff") format("woff"),
    url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.ttf")  format("truetype"),
    url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.svg#svgExocetReaper") format("svg");
}

@font-face {
    font-family: "Exocet Blizzard Light";
    src: url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.eot");
    src: url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.eot?#iefix") format("embedded-opentype"),
    url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.woff") format("woff"),
    url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.ttf")  format("truetype"),
    url("http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.svg#svgExocetReaper") format("svg");
}

/*#endregion*/

body {
    padding-top: 100px;
    padding-bottom: 20px;
    height:100vh;
    width:100vw;
    position:page;
    overflow:auto;
    background-color:black;
    background-repeat:no-repeat;
    font-family: 'Exocet Blizzard'
}



/*#region Main Body */
.mainBody{
	margin:auto;
	padding: 0 50px;
	display: inline-block;
	margin-left: 50px;
	height: 800px;
	width: 60%;
	overflow: auto;	
	background: rgba(0,0,0,0.5);
	box-shadow: 0 0 500px rgba(0,0,0,0.5);
}
/*#endregion */

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 780px;
}

/* styles for validation helpers */
#json-dispaly{
	width:100%;
}

/* Below is used to stop chromes autofill color change*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: white !important;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}



/*#region Footer */
footer{
	margin-bottom:0; width:100%; color:white;
}
/*#endregion
