{% extends "layout.html" %}

{% block content %}


<div class="mainBody">
    <h1 style="color:#B20000">{{HeroName}}</h1>
    <!--<span>{{StatList}}</span>-->
    <table id="HeroStats" class="StatsTable">
        <thead>
            <tr>
                <td>Attack Stats</td>
                <td>Life Stats</td>
                <td>Resistance</td>
                <td>Buffs</td>
            </tr>
        </thead>
        <tbody style="font-size:11px">
            <tr>
                <td>
                    {% autoescape off %}{{AttackStats}}{% endautoescape %}
                </td>
                <td>
                    {% autoescape off %}{{LifeStats}}{% endautoescape %}
                </td>
                <td>
                    {% autoescape off %}{{ResistanceStats}}{% endautoescape %}
                </td>
                <td>
                    {% autoescape off %}{{BuffStats}}{% endautoescape %}
                </td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}
