{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">

    <!--<form action="/hero" method="get">
        <div class="lead">
            <label for="id_battletag" class="col-md-2 control-label" style="color: white;">BattleTag</label>
            <input id="txt_battleTag" type="text" style="background-color: transparent; color: #ffffff" name="battletag"/>
        </div>
        <div class="lead">
            <label for="id_heroid" class="col-md-2 control-label" style="color: white;">Hero ID</label>
            <input id="txt_heroid" type="text" style="background-color: #000000; color: #ffffff" name="heroid"/>
        </div>
        <div class="lead">
             <input type="submit" value="Get Hero" name="GetHero" style="color: white; background-color: transparent;"/>
        </div>
    </form>
    <br />
    <br />-->
    <form action="/career" method="get">
        <div class="lead">
            <label for="id_battletagCareer" class="col-md-2 control-label" style="color: white;">BattleTag</label>
            <input id="txt_battleTagCareer" type="text" style="background-color: #000000; color: #ffffff" name="battletagcareer"/>
        </div>
        <div class="lead">
             <input type="submit" value="Get Career" name="GetCareer" style="color: white; background-color: black;"/>
        </div>
    </form>
</div>


{% endblock %}
