{% extends "layout.html" %}

{% block content %}



    <form action="/career" method="get" style="text-align: left">
        <div class="lead">
            <table>
                <tr>
                    <td>
                        <label for="id_battletagCareer" class="col-md-2 control-label" style="color: white;">BattleTag</label>
                    </td>
                    <td>
                        <input id="txt_battleTagCareer" type="text" style="background-color: #000000; color: #ffffff" name="battletagcareer"/>
                    </td>
                </tr>
            </table>
            <div class="lead">
                 <input type="submit" value="Get Career" name="GetCareer" style="color: white; background-color: black;"/>
            </div>
        </div>

    </form>


{% endblock %}
