{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <label for="id_battletag" class="col-md-2 control-label">BattleTag</label>
    <form action="/hero" method="get">
        <div class="lead">
            <input id="txt_battleTag" type="text" style="background-color: #000000; color: #ffffff" name="battletag"/>
        </div>
        <div class="lead">
            <input id="txt_heroid" type="text" style="background-color: #000000; color: #ffffff" name="heroid"/>
        </div>
        <div class="lead">
             <input type="submit" value="Get Hero" name="GetHero" />
        </div>
        <div class="lead">
            <a href="/hero">Test Link</a>
            <div class="large-txt">
                <textarea id="json_display" class="large-text" disabled="disabled" style="height:300px;width:600px;background-color: #000000">{{HeroProfile}}</textarea>
            </div>
        </div>
    </form>
</div>


{% endblock %}
