<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Django Application</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />

    <script src="../Includes/Scripts/main.js" type="text/javascript"></script>
</head>

<body class="container" style="background-image:url({%static 'Background.jpg' %}); background-size: 100% 100%; ">
<div class="container body-content">

     <div id="menuBar" class="mainMenu">
        <ul>
            <li class="menuItem">
                <a class="link" href="/">Home</a>
            </li>
            <li class="menuItem">Characters</li>
            <li class="menuItem">Profile</li>
        </ul>
    </div>

{% block content %}{% endblock %}
    
</div>

{% block scripts %}{% endblock %}

<hr/>
<footer>
        <p>&copy; {{ year }} - Diablo 3 Profile</p>
    </footer>
</body>
</html>
