<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Title }} - My Django Application</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />

    <script type="text/javascript" src="{% static 'Diablo3.js' %}"></script>

</head>

<body class="container" style="background-image:url({%static 'Background.jpg' %}); background-size: 100% 100%; ">
<div class="container body-content">

     <div id="menuBar" class="mainMenu">
        <ul>
            {% autoescape off %}{{UserName}}{% endautoescape %}
            <li class="menuItem">
                <a class="link" href="/">Home</a>
            </li>
            <li class="menuItem">
                <a class="link" href="/career">Characters</a>
            </li>
                <div id="HeroList">
                {% autoescape off %}{{CharacterMenu}}{% endautoescape %}
                </div>
            <li class="menuItem">
                <a class="link" href="/hero">Profile</a>
            </li>
        </ul>
    </div>

{% block content %}{% endblock %}

</div>

{% block scripts %}{% endblock %}

<hr/>
<footer>
        <p>&copy; {{ Year }} - Diablo 3 Profile</p>
    </footer>
</body>
</html>
