{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}

<div style="color:#fff">
	<table>
		{% for leader in Rows.row %}
			{% for player in leader.player %}
			<tr>
				<td>{{leader.order}}</td>
				<td>{{leader.data.1.number}}</td>
				<td>{{leader.data.2.timestamp}}</td>
				<td>{{player.data.0.string}}&lt;{{player.data.7.string}}&gt;</td>
				<td>{{player.data.2.string}}</td>
				<td>{{player.data.5.number}}</td>				
			</tr>
			{% endfor %}
		{% endfor %}
	</table>
</div>

{% endblock %}