{% extends "layout.html" %}

{% block content %}

<div class="mainBody">
    <table id="menuToolBar" class="mainToolMenu">
        <tr>

            <!-- {% autoescape off %}{{UserName}}{% endautoescape %} -->

            <th class="menuToolItem">
                <a class="link" href="">Paragon Calc</a>
            </th>

            <th class="menuToolItem">

                <a class="link" href="">Gem Upgrade</a>

            </th>

            <!--<li class="menuItem heroListItem">

                <a id="heroContainer" class="link" href="#">Characters</a>

                 <div id="HeroList">

                     <ul class="heroMenuList">
                        {% autoescape off %}{{CharacterMenu}}{% endautoescape %}

                     </ul>

                </div>

            </li>-->

            <th class="menuToolItem">

                <a class="link" href="">Torment Drop Rates</a>

            </th>

            <th class="menuToolItem">

                <a class="link" href="">Torment Difficulty</a>

            </th>
        </tr>
    </table>

</div>


{% endblock %}
